@import "./_variables"

@mixin displayType($display,$justify,$align,$direction)
  display: $display
  justify-content: $justify
  align-items: $align
  flex-direction: $direction
@mixin transparentButton()
  @include displayType(flex,center,center,row)
  border: none
  padding: 0px
  background: transparent
@mixin normalButton()
  padding: .8rem 1.5rem
  background: $primary-red
  font-size: .75rem
  color: white
  border-radius: 2rem
  border: none
  font-weight: $strong-weight
  box-shadow: 0px 5px 5px 0px transparentize($primary-red,0.75 )

*
  box-sizing: border-box
  font-family: $family, sans-serif
  font-weight: $normal-weight
  font-size: $size
  border: 1px solid red !important

button,li
  cursor: pointer

html,body
  overflow-x: hidden

.hidden
  visibility: hidden
  opacity: 0
  transition: all .7s

.header
  @include displayType(flex,space-between,center,row )
  padding: 2rem 1rem
  .header__menu-button
    @include transparentButton()
    height: 24px
    ion-icon
      font-size: 24px
      color: $primary-darkBlue

.menu
  transition: all .7s
  position: fixed
  z-index: 10
  width: 90%
  @include displayType(flex,center,center,column)
  left: 50%
  transform: translateX(-50%)
  padding: 2rem
  background: $Neutral-gray
  border-radius: .3125rem
  box-shadow: 0px 10px 100px 1000px transparentize(black, 0.75)
  .menu__button-close
    position: absolute
    top: -30%
    right: 0
    @include transparentButton()
    ion-icon
      font-size: 24px
  .menu__list
    padding: 0
    margin: 0
    text-align: center
    @include displayType(flex,space-evenly,center,column)
    gap: .5rem
    .menu__list-item
      list-style: none
      color: $primary-darkBlue

.hidden-menu
  opacity: 0
  transform: translate(-50%,-500px)
  transition: all .7s

.main
  @include displayType(flex,normal,center,column)
  section
    @include displayType(flex,normal,center,column)
    width: 100%
    padding: 2rem 0rem
  .presentation
    padding: 1rem
    position: relative
    .presentation__image-container
      width: 100%
      .presentation__image
        width: 100%
    .presentation__bg
      width: 125%
      position: absolute
      top: -30%
      left: 20%
      z-index: -1
    .presentation__info-container
      @include displayType(flex,normal,center,column)
      width: 100%
      text-align: center
      .presentation__info-title
        margin: .625rem 0rem
        color: $primary-darkBlue
      .presentation__info-description
        color: $Neutral-grayBlue
        font-weight: $light-weight
        font-size: .875rem
        line-height: 1.3rem
      .presentation__info-button
        @include normalButton()
      .presentation__info-button:hover
        background: transparentize($primary-red,0.25 )
  .features
    position: relative
    padding: 1rem
    .features__bg
      position: absolute
      width: 100%
      z-index: -1
      top: -27%
      right: -60%
    .features__info-container
      @include displayType(flex,normal,center,column)
      width: 100%
      text-align: center
      .features__info-title
        margin: .625rem 0rem
        font-size: 1.5rem
        color: $primary-darkBlue
        font-weight: $strong-weight
      .features__info-description
        color: $Neutral-grayBlue
        font-weight: $light-weight
        font-size: .875rem
        line-height: 1.3rem
    .features__items-container
      @include displayType(flex,normal,center,column)
      width: 100%
      gap: 1rem
      margin-top: 2rem
      .features__item
        @include displayType(flex,normal,flex-start,column)
        width: 100%
        .article__header-container
          @include displayType(flex,normal,center,row)
          width: 120%
          gap: 1rem
          background: $Neutral-red
          border-radius: 2rem 0rem 0rem 2rem
          .article__header-num
            padding: .5rem 1rem
            background: $primary-red
            border-radius: 2rem
            color: white
          .article__header-title
            margin: 0
            font-size: .8125rem
            font-weight: $strong-weight
            color: $primary-darkBlue
        .article__main-container
          padding: .5rem 0rem
          .article__main-description
            color: $Neutral-grayBlue
            font-size: .875rem
            line-height: 1.75rem
  .testimonials
    width: 100%
    padding: 2rem 1rem
    gap: 5rem
    @include displayType(flex,normal,center,column)
    .testimonials-title
      color: $primary-darkBlue
      font-size: 2rem
      font-weight: $strong-weight
    .testimonials__items-container
      position: relative
      width: 100%
      height: 100%
      .testimonial__items-slider
        display: flex
        gap: 1rem
        .testimonial__item
          transition: all .5s
          min-width: 100%
          background: $Neutral-gray
          @include displayType(flex,space-between,center,column )
          padding: 5rem 2rem 1rem 2rem
          min-height: 15rem
          max-height: 20rem
          text-align: center
          .testimonialItem__image
            position: absolute
            width: 6.25rem
            top: -3.125rem
          .testimonialItem__name
            color: $primary-darkBlue
            font-weight: $strong-weight
          .testimonialItem__description
            color: $Neutral-grayBlue
    .testimonials__button
      @include normalButton()
    .testimonials__button:hover
      background: transparentize($primary-red,0.25 )
  .final
    padding: 2rem 1rem
    text-align: center
    @include displayType(flex,normal,center,column)
    background: url("./assets/bg-simplify-section-mobile.svg") $primary-red no-repeat center left
    .final__title
      font-size: 2rem
      line-height: 3rem
      font-weight: $strong-weight
      color: white
    .final__button
      @include normalButton()
      color: $primary-red
      background: white
    .final__button:hover
      background-color: transparentize(white,0.25 )
.footer
  @include displayType(flex,normal,center,column)
  gap: 2rem
  padding: 2rem 1rem
  background-color: $Neutral-darkBlue
  form
    @include displayType(flex,center,flex-start,row )
    gap: 1rem
    .footer__form-containerInput
      @include displayType(flex,normal ,flex-start ,column)
      width: 100%
      .footer__form-input
        width: 100%
        padding: .8125rem
        height: 40px
        border-radius: 2rem
        border: 1px solid transparent
        outline: none
        font-size: .8125rem
      .footer__form-message
        opacity: 0
        font-size: .75rem
        padding: .5rem 0rem 0rem 1rem

    .error
      .footer__form-input
        border: 1px solid red
        color: red
      .footer__form-message
        opacity: 1
        color: red
    .footer__form-button
      @include normalButton()
      height: 40px
    .footer__form-button:hover
      background: transparentize($primary-red,0.25 )
  .footer__lists-container
    @include displayType(flex,space-around,flex-start,row)
    width: 100%
    .footer__list-left,.footer__list-right
      margin: 0
      padding: 0
      @include displayType(flex,normal,flex-start,column)
      gap: 1rem
      .list-item
        list-style: none
        font-size: 12px
        color: $Neutral-gray
        font-weight: $light-weight
      .list-item:hover
        color: $primary-red
  .footer__social-container
    width: 100%
    @include displayType(flex,space-around,center,row)
    .footer__social-item
      @include transparentButton()
      ion-icon
        color: white

    .footer__social-item:hover
      ion-icon
        color: $primary-red
  .footer__copy
    color: $Neutral-grayBlue
    font-size: .5rem

@include desktopView()
  .header
    padding: 5rem 10rem
    .header__button
      @include normalButton()
    .header__button:hover
      background: transparentize($primary-red,0.25)
  .menu
    position: absolute
    justify-content: space-evenly
    flex-direction: row
    box-shadow: none
    background: none
    width: fit-content
    .menu__button-close
      display: none
    .menu__list
      flex-direction: row
      gap: 1rem
      .menu__list-item:hover
        color: $Neutral-grayBlue
  .main
    .presentation
      padding: 4rem
      flex-direction: row-reverse
      gap: 2rem
      .presentation__image-container
        width: 50%
      .presentation__info-container
        width: 40%
        text-align: start
        align-items: flex-start
        gap: 1rem
      .presentation__bg
        width: 100%
        top: -100%
        left: 50%
    .features
      padding: 4rem 9rem
      gap: 2rem
      flex-direction: row
      align-items: flex-start
      .features__bg
        top: 50%
        right: 75%
        width: 50%
      .features__info-container
        text-align: start
        .features__info-title
          font-size: 2rem
        .features__info-description
          font-size: 1rem
      .features__items-container
        .features__item
          .article__header-container
            width: 100%
            background: none
          .article__main-container
            padding-left: 4rem
    .testimonials
      padding: 9rem
      .testimonials__items-container
        .testimonial__items-slider
          .testimonial__item
            min-width: 70%
    .final
      flex-direction: row
      justify-content: space-evenly
      background: url("./assets/bg-simplify-section-desktop.svg") $primary-red no-repeat
      background-size: 130%
      background-position: 0% 80%
      .final__title
        text-align: start
        width: 40%
  .footer
    padding: 5rem
    display: grid
    gap: 0rem
    grid-template-columns: 1fr 500px 1fr
    grid-template-areas: "logo list form""social no copy"
    form
      grid-area: form
    .footer__lists-container
      grid-area: list
    .footer__social-container
      grid-area: social
    .footer__copy
      font-size: 1rem
      grid-area: copy
